@{
    Layout = null;

}

@using GroupChatSignalR.Hubs;

<!DOCTYPE html>
<html>
<head>
    <style>
        #chatBody {
            width: 80vw;
            height: 50vh;
            align-content: center;
        }

        .inputFormClass {
            width: 80vw;
            height: 10vh;
            align-content: center;
        }

        #group {
        }
        .messageUser {
            width: 80vw;
            height: 10vh;
            align-content: center;
        }
        .messageAdmin {
            background-color: rgba(2, 135, 52, 0.3);
            width: 80vw;
            height: 10vh;
            align-content: center;
        }
    </style>
    <title></title>
</head>
<body>
    <h2>Чат</h2>

    <div class="main">
        <div id="loginBlock">
            Введите логин:<br />
            <input id="txtUserName" type="text" />
            <input id="btnLogin" type="button" value="Войти" />
        </div>
        <div id="joinBlock">
            Введите группу:<br />
            <input id="group" type="text" />
            <input id="join" type="button" value="Присоединиться" />
        </div>
        <div id="chatBody">
            <div id="header"></div>
            <div id="chatroom"></div>
            <div id="inputForm" class="inputFormClass">
                <input type="text" id="message" class="inputFormClass" />
                <input type="button" id="sendmessage" value="Отправить" class="inputFormClass" />
            </div>

            <div id="chatusers">
                <p><b>Все пользователи </b></p>
            </div>
        </div>
        <input id="hdId" type="hidden" />
        <input id="username" type="hidden" />
    </div>
    <script>

    </script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <!--Ссылка на библиотеку SignalR -->
    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <!--Ссылка на автоматически сгенерированный скрипт хаба SignalR -->
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/util.js"></script>
</body>
</html>